<aside class="sidebar bg-secondary text-light h-100 p-3">
  <h5 class="mb-4"><i class="bi bi-list"></i> Navegación</h5>
  <ul class="nav flex-column gap-2">
    <li class="nav-item">
      <a id="nav-busqueda" href="/busqueda" class="nav-link text-light" routerLink="/busqueda" routerLinkActive="active"><i class="bi bi-search"></i> Búsqueda de personajes</a>
    </li>
    <li class="nav-item">
      <a id="nav-reporteador" href="/reporteador" class="nav-link text-light" routerLink="/reporteador" routerLinkActive="active"><i class="bi bi-bar-chart"></i> Reporteador</a>
    </li>
    <li class="nav-item">
      <a id="nav-personajes-asc" href="/personajes-asc" class="nav-link text-light" routerLink="/personajes-asc" routerLinkActive="active"><i class="bi bi-sort-alpha-down"></i> Personajes en orden ascendente</a>
    </li>
    <li class="nav-item">
      <a id="nav-personajes-por-episodio" href="/personajes-por-episodio" class="nav-link text-light" routerLink="/personajes-por-episodio" routerLinkActive="active"><i class="bi bi-collection-play"></i> Personajes por episodio</a>
    </li>
    <li class="nav-item">
      <a id="nav-personajes-por-locacion" href="/personajes-por-locacion" class="nav-link text-light" routerLink="/personajes-por-locacion" routerLinkActive="active"><i class="bi bi-geo-alt"></i> Personajes por locación</a>
    </li>
  </ul>
</aside>
